@model IEnumerable<MyCinema.Models.Users> 


@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";




}
<link href="/Content/timingfield/timingfield.css" type="text/css" rel="stylesheet" media="screen" />
<link media="screen" rel="stylesheet" type="text/css" href="/Content/admin-menu-ip.css">
<link media="screen" rel="stylesheet" type="text/css" href="/Content/admin-movies-ip.css">



<div class="main">
    <h2 class="title">Home</h2>

    <div class="card">
        <div class="card-body">

            <div class="display-information">
                <div class="total-users">
                    <p class="info-text">Total Users</p>
                    <p class="info-numbers">@ViewBag.TotalUsers</p>
                </div>
                <div class="total-movies">
                    <p class="info-text">Total Movies
                    <p class="info-numbers">@ViewBag.TotalMovies</p>
                </div>
                <div class="total-rooms">
                    <p class="info-text">Total Rooms</p>
                    <p class="info-numbers">@ViewBag.TotalRooms</p>
                </div>
                <div class="total-bookings">
                    <p class="info-text">Total Bookings
                    <p class="info-numbers">@ViewBag.TotalBookings</p>
                </div>
            </div>
            <div class="column-50">
                <div class="display-last-updates">
                    <div class="last-update-information">
                      
                        <h2>Last updates</h2>
                        <div class="last-registered-user">
                            @{ if  (ViewBag.LastUser != null)
                                {
                                    var base641 = Convert.ToBase64String(ViewBag.LastUser.Image);
                                    var imgsrc1 = string.Format("data:image/gif;base64,{0}", base641);

                                    <img src="@imgsrc1" style="max-width:50px;max-height:50px">



                                    <p>
                                        <a href="REDIRECT SPRE ADMIN USERS cu search pe numele utilizatorului(sa apara utlimul utilizator inregistrat primu)">@ViewBag.LastUser.LastName @ViewBag.LastUser.FirstName</a> is the last
                                        <mark class="purple">registered user</mark>
                                    </p>
                                }
                                else
                                {
                                    <p>
                                       
                                       No <mark class="purple">registered users</mark>
                                    </p>
                                }
                            }
                        </div>
                        <div class="last-added">
                            @{
                                if (ViewBag.LastRoom != null)
                                {
                                    var base642 = Convert.ToBase64String(ViewBag.LastRoom.Image1);
                                    var imgsrc2 = string.Format("data:image/gif;base64,{0}", base642);
                                    <img src="@imgsrc2" style="max-width:50px;max-height:50px">


                                <p>
                                    <a href="REDIRECT SPRE ADMIN ROOMS cu search pe camera(sa apara camera prima)"> @ViewBag.LastRoom.RoomName</a> is the last
                                    <mark class="purple">added room</mark>
                                </p>

                                } else {
                            <p>

                                No <mark class="purple">added rooms</mark>
                            </p>
                                    }
                                }
                        </div>
                        <div class="last-added">

                            @{
                                 if (ViewBag.LastMovie != null)
                                {

                                    var base643 = Convert.ToBase64String(ViewBag.LastMovie.Image);
                                    var imgsrc3 = string.Format("data:image/gif;base64,{0}", base643);
                                    <img src="@imgsrc3" style="max-width:50px;max-height:50px">




                                    <p>
                                        <a href="REDIRECT SPRE ADMIN MOVIES cu search pe film(sa apara filmul primu)"> @ViewBag.LastMovie.Name</a> is the last
                                        <mark class="purple">added movie</mark>
                                    </p>

                                }
                                else
                                {
                                    <p>

                                        No <mark class="purple">added movies</mark>
                                    </p>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="display-right-information">
                    <div class="right-info">
                        <img class="right-image" src="../images/back.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

