@model MyCinema.Models.UserLogin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,500,600,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" rel="stylesheet"
      media="screen" />




<link rel="stylesheet" href="../Stylesheets/Login.css">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
  
    <div class="alert alert-danger">
        @ViewBag.Message
        @TempData["ErrorMessage"]
    </div>
 



    @Html.ValidationSummary(true, "", new { @class = "lastname" })
    <div class="firstname-lastname-container">

        @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { placeholder = "Email", @class = "lastname" } })

    </div>
    <div class="firstname-lastname-container">


        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password", @class = "lastname" } })


    </div>

    <div class="checkbox-forgpass-container">
        <div class="checkbox-container">



        </div>

        <div class="forgot-password-container" onclick="location.href='@Url.Action("ForgotPassword","User")'">
            Forgot Password
        </div>


    </div>

    <div class="button-container">

        <input type="submit" value="SignIn" class="button" />
        <div class="button" onclick="location.href='@Url.Action("Registration", "User")'">Sign Up</div>
    </div>


</div>
}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="../Scripts/script.js"></script>

<script src="../Scripts/alert.js"></script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
