@model MyCinema.Models.UserLogin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="../Stylesheets/Login.css">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "lastname" })
        <div class="firstname-lastname-container">

            @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { placeholder = "Email", @class = "lastname" } })

        </div>
        <div class="firstname-lastname-container">


            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password", @class = "lastname" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "lastname" })

        </div>

        <div class="checkbox-forgpass-container">
            <div class="checkbox-container">



            </div>

            <div class="forgot-password-container" onclick="location.href='@Url.Action("ForgotPassword","User")'">
                Forgot Password
            </div>


        </div>

        <div class="button-container">

            <input type="submit" value="SignIn" class="button" />
            <div class="button" onclick="location.href='@Url.Action("Registration", "User")'">Sign Up</div>
        </div>


    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
