@model MyCinema.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      <div class="text-danger">
          @ViewBag.Message
      </div>
   
        @Html.ValidationSummary(true, "", new { @class = "lastname" })
        <div class="firstname-lastname-container">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "lastname" })
           
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "lastname" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "lastname" })
          
        </div>

        <div class="firstname-lastname-container">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "lastname" })
            
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "lastname" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "lastname" })
          
        </div>

        <div class="firstname-lastname-container">
            @Html.HiddenFor(a => a.ResetCode)
      
        </div>

        <div class="button-container">
           
                <input type="submit" value="Create" class="button" />
          
        </div>
    </div>
}

<div>
    @Html.ActionLink("Login", "Login")
</div>
