@model MyCinema.Models.MyModel

@{
    ViewBag.Title = "DisplayProgram";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

<div class="body-main">
    <h1 id="program-title">Program</h1>
    <div class="programs">
        <div class="buttons-top">
            <button class="button-day" onclick="location.href='@Url.Action("DisplayProgram", "Timetables", new { date = @DateTime.Now.ToString("dd-MM-yyyy") })' ">@DateTime.Now.ToString("dddd, dd MMMM")</button>
            <button class="button-day" onclick="location.href='@Url.Action("DisplayProgram", "Timetables", new { date = @DateTime.Now.AddDays(1).ToString("dd-MM-yyyy") })' ">@DateTime.Now.AddDays(1).ToString("dddd, dd MMMM")</button>
            <button class="button-day" onclick="location.href='@Url.Action("DisplayProgram", "Timetables", new { date = @DateTime.Now.AddDays(2).ToString("dd-MM-yyyy") })' ">@DateTime.Now.AddDays(2).ToString("dddd, dd MMMM")</button>
            <button class="button-day" onclick="location.href='@Url.Action("DisplayProgram", "Timetables", new { date = @DateTime.Now.AddDays(3).ToString("dd-MM-yyyy") })' ">@DateTime.Now.AddDays(3).ToString("dddd, dd MMMM")</button>
            <button class="button-day" onclick="location.href='@Url.Action("DisplayProgram", "Timetables", new { date = @DateTime.Now.AddDays(4).ToString("dd-MM-yyyy") })' ">@DateTime.Now.AddDays(4).ToString("dddd, dd MMMM")</button>
            <button class="button-day" onclick="location.href='@Url.Action("DisplayProgram", "Timetables", new { date = @DateTime.Now.AddDays(5).ToString("dd-MM-yyyy") })' ">@DateTime.Now.AddDays(5).ToString("dddd, dd MMMM")</button>
            <button class="button-day" onclick="location.href='@Url.Action("DisplayProgram", "Timetables", new { date = @DateTime.Now.AddDays(6).ToString("dd-MM-yyyy") })' ">@DateTime.Now.AddDays(6).ToString("dddd, dd MMMM")</button>

        </div>

        <div class="headers-table">
            <p id="header-movie">Movie</p>
            <p id="header-hours">Screening Hours</p>
        </div>


        @foreach (KeyValuePair<string, List<TimeSpan>> item in ViewBag.map)
        {
            List<TimeSpan> list = item.Value;
            <div class="table-row">
                <div class="column-left">
                    <div class="information-play"></div>
                        <p>@item.Key.ToString()</p>

                </div>
                @foreach (var hour in list)
                {
                    
                    <div class="column-right">
                        <button class="button-hour">@hour.ToString()</button>
                  
                    </div>
                }
            </div>
        }
    </div>
</div>




