@model IEnumerable<MyCinema.Models.Timetable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
    List<MyCinema.Models.Movies> Movies = ViewBag.Movies;
    List<MyCinema.Models.Rooms> Rooms = ViewBag.Rooms;

}



<link href="/Content/timingfield/timingfield.css" type="text/css" rel="stylesheet" media="screen" />
<link media="screen" rel="stylesheet" type="text/css" href="/Content/admin-menu-ip.css">
<link media="screen" rel="stylesheet" type="text/css" href="/Content/admin-movies-ip.css">


<title>MyCinema | Time Schedule</title>




<div class="main">

    <h2 class="title">Admin | Program</h2>
    <div class="main-container">

        @using (Html.BeginForm("Delete", "Timetables", FormMethod.Post))
        {
            <div class="buttons-top">
                <a class="buttons-movie" href="@Url.Action("Create", "Timetables")" onclick="currentMenu()">
                    Add Movie
                </a>

                <button class="buttons-movie" id="modal-button-add" type="submit">Delete</button>



            </div>

            <table class="table-of-movies">
                <tr>
                    <th>
                        Number
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Room
                    </th>
                    <th>
                        Date
                    </th>

                    <th>
                        Time
                    </th>

                    <th>Delete</th>

                </tr>

                @{ int var = 1;
                    foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @var
                            </td>


                            @foreach (var itemM in Movies)
                            {
                                if (item.MovieId == itemM.MovieId)
                                {
                                    <td> @itemM.Name </td>
                                }
                            }

                            @foreach (var itemR in Rooms)
                            {
                                if (item.RoomId == itemR.RoomId)
                                {
                                    <td> @itemR.RoomName </td>
                                }
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartTime)
                            </td>
                            <td>
                                <input type="checkbox" name="idDelete" id="idDelete" value="@item.id" />
                            </td>


                        </tr>

                        var++;
                    }
                }

            </table>
        }
    </div>

</div>



