<!DOCTYPE html>
<html>
<head>
    <title>MyCinema</title>
    <link rel="stylesheet" href="../../StyleSheets/SignUp.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="image-container"></div>

    <div class="flex-white-container"></div>
    <div class="white-contanier">
        <div class="title-container"> My Cinema</div>
        <div class="subtitle-container">Please complete to create your account.</div>
        <div class="signup-container">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>