
@{

    Layout = null;
      List<MyCinema.Models.Movies> Movies = ViewBag.Movies;
     List<MyCinema.Models.Reservations> Reservation = ViewBag.Reservations;
}

@{
    if (Session["user"] == null)
    {
        <script type="text/javascript">window.location.href = "/User/Login";</script>
        //Response.Redirect ("/User/Login",true);
    }


}

<!DOCTYPE html>


<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,500,600,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../StyleSheets/MoviesDropdown.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../StyleSheets/Menu.css">
    <link href="/Content/timingfield/timingfield.css" type="text/css" rel="stylesheet" media="screen" />
    <link media="screen" rel="stylesheet" type="text/css" href="/Content/admin-menu-ip.css">
    <link media="screen" rel="stylesheet" type="text/css" href="/Content/admin-movies-ip.css">
    <link media="screen" rel="stylesheet" type="text/css" href="../../StyleSheets/Dropdown.css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



    <title>MyCinema | Home</title>
</head>
<body>
    <div class="layout">
        <div class="l-left">
            <a href="#" class="toggle-menu topm1"><i class="material-icons">menu</i></a>
            <a href="@Url.Action("Index", "Home")" class="logo-menu" style="height:55px;">My Cinema</a>
            <div class="menu">
                <a href="@Url.Action("Index", "Home")" class="menu-item" onclick="currentMenu(1)">
                    <img src="../../images/icon_home-1.svg" alt="" class="ico">
                    Home
                </a>
                <a href="@Url.Action("Index", "Statistics")" class="menu-item" onclick="currentMenu(2)">
                    <img src="../../images/icon_dashboard-1.svg" alt="" class="ico">
                    Statistics
                </a>
                <a id="2" href="@Url.Action("Index", "Movies")" class="menu-item" onclick="currentMenu(3)">
                    <img src="../../images/icon_products-1.svg" alt="" class="ico">
                    Movies
                </a>
                <a href="@Url.Action("Index", "Rooms")" class="menu-item" onclick="currentMenu(4)">
                    <img src="../../images/icon_Invoices-1.svg" alt="" class="ico">
                    Cinema Rooms
                </a>
                <a href="@Url.Action("DisplayProgram", "Timetables", new { date = @DateTime.Now })" class="menu-item" onclick="currentMenu(5)">
                    <img src="../../images/icon_calendar-1.svg" alt="" class="ico">
                    Program
                </a>
                <a href="@Url.Action("Settings", "Home")" class="menu-item" onclick="currentMenu(6)">
                    <img src="../../images/icon_setting.svg" alt="" class="ico">
                    Settings
                </a>
            </div>
        </div>
        <div class="l-right">
            <div class="top-bar" style="height:50px;">
                <form action="" class="left">
                    <a class="toggle-menu topm2" href="#"><i class="material-icons">menu</i></a>
                    <img alt="" class="icon" src="../images/icon_search.svg">
                    <input class="Search" id="input_search" placeholder="Search" type="text">
                </form>

                <div class="right" style="padding-right: 30px;">

                    <button type="button" class="btn" data-toggle="dropdown">
                        <img alt="" class="notif-ico" src="../images/icon_notification.svg" />
                    </button>
                    <ul class="dropdown-menu scrollable-menu" role="menu">
                        <li><a href="#">Booked Movies:</a></li>
                        @if (Reservation == null)
                        {
                            <li>No movies booked</li>
                        }
                        else
                        {
                            foreach (var item in Reservation)
                            {
                            <li>
                                <div class="grid-container2">
                                    <div class="itm1">@item.Movie</div>
                                    @foreach (var movie in Movies)
                                    {
                                        if (item.Movie == movie.Name)
                                        {
                                            var base64 = Convert.ToBase64String(movie.Image);
                                            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                          <div class="itm2"><img src="@imgsrc" style="width:40px;height:40px;" /></div>
                                            break;
                                        }

                                    }
                                    <div class="itm3" style="color:gray; height:50%;">@item.Day.ToString("dd-MM-yyyy"), @item.Hour</div>

                                </div>


                    </li>
                            }

                        }
                    </ul>


                    <div class="dropdown">
                        <div>

                            <span>
                                @Session["FirstName"] @Session["LastName"]
                            </span>
                            <img alt="" class="arrow" src="../images/icon_down-arrow-small.svg">
                        </div>

                        <div class="dropdown-content">
                            <br />
                            <div class="dropdown" style="padding-left: 10px;">

                                <span>
                                    <a href="@Url.Action("Settings", "Home")" style=" text-decoration:none;  color: black;">
                                        <img alt="" class="notif-ico" src="../images/Settings.png" />
                                        Settings
                                    </a>
                                </span>
                            </div>


                            @using (Html.BeginForm("Logout", "User", FormMethod.Post, new { }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-link" style="   color: black; text-decoration: none; align-items:left;">
                                    <img alt="" class="notif-ico" src="../images/Logout.png" /> Logout
                                </button>

                            }
                        </div>
                    </div>





                </div>

            </div>


            @RenderBody()


        </div>


    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="../../Scripts/script.js"></script>
    <script src="../../Scripts/home.js"></script>
</body>
</html>

