@model MyCinema.Models.Rooms

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
    TempData["RoomId"] = Model.RoomId;
}
<link href="/Content/timingfield/timingfield.css" type="text/css" rel="stylesheet" media="screen" />
<link media="screen" rel="stylesheet" type="text/css" href="/Content/admin-menu-ip.css">
<link media="screen" rel="stylesheet" type="text/css" href="/Content/admin-movies-ip.css">
<link media="screen" rel="stylesheet" type="text/css" href="/Content/admin-rooms-ip.css">


<div class="main">
    <h2 class="title">Edit Room : @Html.DisplayFor(model => model.RoomName)</h2>

    <div class="main-container">
        <form action="@Url.Action("Edit", "Rooms")" method="POST" enctype="multipart/form-data" >
            @Html.AntiForgeryToken()
            <div class="buttons-top">
                <button class="buttons-movie" type="submit">Save</button>
                <input class="buttons-movie" type="button" onclick="location.href='@Url.Action("IndexAdmin", "Rooms")'" value="Discard" />
            </div>

            <div class="row-container">
                <div class="col no-gutters">
                    <p>Current Name:</p>
                    <input type="text" disabled name="old-movie-name" value="@Html.DisplayFor(model => model.RoomName)" style="width:100%; margin-bottom:10px">
                </div>
                <div class="col no-gutters">
                    <p>New Name:</p>
                    <input type="text" name="RoomName" style="width:100%;  margin-bottom:10px">
                </div>

            </div>

            <table class="table-of-rooms">
                <tr>
                    <th>Number</th>
                    <th>Image</th>
                    <th>Change</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        @if (Model.Image1 != null)

                        {
                            string imageSource = $"data:image;base64,{Convert.ToBase64String(Model.Image1)}";

                            <img src="@imageSource" style="width:90px;height:110px;" />
                        }
                        else
                        {
                             <img class="old-image" src="../../images/noimg2.png" style="width:110px;height:110px" />

                        }

                        </td>
                        <td><input type="file" accept="image/*" name="Image1"></td>
                    </tr>
                <tr>
                    <td>2</td>
                    <td>
                        @if (Model.Image2 != null)

                        {
                            string imageSource = $"data:image;base64,{Convert.ToBase64String(Model.Image2)}";

                            <img src="@imageSource" style="width:90px;height:110px;" />
                        }
                        else
                        {
                            <img class="old-image" src="../../images/noimg2.png" style="width:110px;height:110px"  />

                        }

                    </td>
                    <td><input type="file" accept="image/*" name="Image2"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        @if (Model.Image3 != null)

                        {
                            string imageSource = $"data:image;base64,{Convert.ToBase64String(Model.Image3)}";

                            <img src="@imageSource" style="width:90px;height:110px;" />
                        }
                        else
                        {
                            <img class="old-image" src="../../images/noimg2.png" style="width:110px;height:110px" />

                        }

                    </td>
                    <td><input type="file" accept="image/*" name="Image3"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        @if (Model.Image4 != null)

                        {
                            string imageSource = $"data:image;base64,{Convert.ToBase64String(Model.Image4)}";

                            <img src="@imageSource" style="width:90px;height:110px;" />
                        }
                        else
                        {
                            <img class="old-image" src="../../images/noimg2.png" style="width:110px;height:110px;"/>

                        }

                    </td>
                    <td><input type="file" accept="image/*" name="Image4"></td>
                </tr>
            </table>
        </form>
    </div>
</div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
