
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Menu.cshtml";
}



@model IEnumerable<MyCinema.Models.Rooms>

<style>
        /* Make the image fully responsive */
        .carousel-inner img {

            height: 200px;
              width: 100%;
            vertical-align: middle;
        }
    </style>

<link rel="stylesheet" type="text/css" media="screen" href="~/StyleSheets/cinema-room.css">

<body>

    <div class="main">
        <h2 class="title">Cinema Rooms</h2>

        <div class="cinema-rooms-grid-container">


            @foreach (var item in Model)
            {

                <div class="cinema-room" style="width: 100%; height:auto;">
                    <h5><a> @Html.DisplayFor(modelItem => item.RoomName) </a></h5>

                    @{
                        List<String> imageSource = new List<String>();

                        if (item.Image1 != null)
                        {
                            imageSource.Add($"data:image;base64,{Convert.ToBase64String(item.Image1)}");

                        }

                        if (item.Image2 != null)
                        {
                            imageSource.Add($"data:image;base64,{Convert.ToBase64String(item.Image2)}");

                        }
                        if (item.Image3 != null)
                        {
                            imageSource.Add($"data:image;base64,{Convert.ToBase64String(item.Image3)}");

                        }
                        if (item.Image4 != null)
                        {
                            imageSource.Add($"data:image;base64,{Convert.ToBase64String(item.Image4)}");
                        }

                    }



                    <div id="@item.RoomName.ToString()@item.RoomId.ToString()" class="carousel slide" >

                        <ul class="carousel-indicators">
                            <!-- Indicators -->
                            @{int active = 1;
                            }
                            @for (int i = 0; i < imageSource.Count(); i++)
                            {
                                if (active == 1)
                                {
                                    active = 0;
                                    <li data-target="#@item.RoomName.ToString()@item.RoomId.ToString()" data-slide-to="@i.ToString()" class="active"></li>

                                }
                                else
                                {
                                    <li data-target="#@item.RoomName.ToString()@item.RoomId.ToString()" data-slide-to="@i.ToString()"></li>
                                }
                            }
                        </ul>
                        @{active = 1;
                        }
                        <div class="carousel-inner" >
                            @foreach (var image in imageSource)
                            {<!-- Wrapper for slides -->
                                if (active == 1)
                                {
                                    active = 0;
                                    <div class="carousel-item active">
                                        <img src="@image.ToString()" style="width:100%;">
                                    </div>

                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <img src="@image.ToString()" style="width:100%;">
                                    </div>
                                }
                            }

                        </div>
                    </div>

                </div>
            }

        </div>
    </div>




</body>