@model MyCinema.Models.Movies

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}


<link media="screen" rel="stylesheet" type="text/css" href="../StyleSheets/admin-edit.css">

<div class="main">
    <h2 class="title">Edit Movie : @Html.DisplayFor(model => model.Name)</h2>
    
    <div class="main-container">
        <form action="@Url.Action("Edit", "Movies")" method="POST" enctype="multipart/form-data" ">
            @Html.AntiForgeryToken()
            <div class="buttons-top">
                <button class="buttons-movie" type="submit">Save</button>
                <input class="buttons-movie" type="button" onclick="location.href='@Url.Action("IndexAdmin", "Movies")'" value="Discard" />
            </div>
             <div class="row-container">
                <div class="col no-gutters" >
                    <p>Current Name:</p>
                    <input type="text" disabled name="old-movie-name" value="@Html.DisplayFor(model => model.Name)" style="width:100%">
                    <p>Current Price:</p>
                    <input type="text" disabled name="old-movie-price" value="@Html.DisplayFor(model => model.Price)" style="width:100%">
                    <p>Current Duration:</p>
                    <input type="text" disabled name="old-movie-duration" value="@Html.DisplayFor(model => model.Duration)" style="width:100%">
                    <p class="go-down">Current Image:</p>
                    @if (@Model.Image != null)

                    {
                        string imageSource = $"data:image;base64,{Convert.ToBase64String(@Model.Image)}";

                        <img src="@imageSource" class="old-image" style="width:100% ; height:500px" />
                    }

                </div>
                <div class="col no-gutters">
                    <p>New Name:</p>
                    <input type="text" name="Name" style="width:100%">
                    <p>New Price:</p>
                    <input type="text" name="Price" style="width:100%">
                    <p>New Duration:</p>
                    <input type="text" required class="timing" name="Duration" style="width:100% " />
                    <p>New Image:</p>
                    <input type="file" accept="image/*" name="Image">
                </div>
            </div>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../Scripts/timingfield.js"></script>
<script src="../scripts-common/script.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
