@model IEnumerable<MyCinema.Models.Movies>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";

}

<link href="/Content/timingfield/timingfield.css" type="text/css" rel="stylesheet" media="screen" />
<link media="screen" rel="stylesheet" type="text/css" href="/Content/admin-menu-ip.css">
<link media="screen" rel="stylesheet" type="text/css" href="/Content/admin-movies-ip.css">

<title>MyCinema | Movies</title>


<div class="main">
    <h2 class="title">Admin | Movies</h2>
   
    <div class="main-container">

        @using (Html.BeginForm("Delete", "Movies", FormMethod.Post))
        {
        <div class="buttons-top">
            <a class="buttons-movie" href="@Url.Action("Create", "Movies")" onclick="currentMenu()">
                Add Movie
            </a>

            <button class="buttons-movie" id="modal-button-add" type="submit">Delete</button>



        </div>

            <table class="table-of-movies">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MovieId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>

                    <th>Delete</th>
                    <th>Modify</th>
                </tr>

               
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.MovieId)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @if (item.Image != null)

                                {
                                    string imageSource = $"data:image;base64,{Convert.ToBase64String(item.Image)}";

                                    <img src="@imageSource" style="width:90px;height:110px;" />
                                }


                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>

                            <td>
                                <input type="checkbox" name="MovieIdDelete" id="MovieIdDelete" value="@item.MovieId" />

                            </td>

                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MovieId })
                            </td>
                        </tr>
                    }


            </table>
        }
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../Scripts/script.js"></script>
<script src="../Scripts/admin-movies-ip.js"></script>
<script src="../Scripts/alert.js"></script>